/*FONTES*/
@font-face {
    font-family: 'MadimiOne';
    src: url('../../../fontes/Madimi_One/MadimiOne-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/*TELA MAIOR QUE 1000px*/
@media screen and (min-width:800px){
    body{
        margin: 1vw;
        overflow: hidden;
        width: 100vw;
        height: 100vh;
    }
    a{
        text-decoration: none;
        font-size: 1.3vw;
        color: #000;
    }
    button{
        cursor: pointer;
        padding: 1vw  2vw;
        padding-left: 4vw;
        background-color: #f2f2f2;
        color: #000;
        border: none;
        border-radius: 1vw;

    }
    button:hover{
        background-color: #ccc;
        transition: 0.5s;
    }
    .usuarios{
        animation: usuarios 1s forwards;
    }
    @keyframes usuarios {
        from {
            transform: translateX(100vw);
        }
        to {
            transform: translateX(0);
        }
    }
    .repositorios{
        animation: repositorios 1s forwards;
    }
    @keyframes repositorios {
        from {
            transform: translateX(100vw);
        }
        to {
            transform: translateX(0);
        }
    }
    .icone{
        position: absolute;
        margin-top: -0.4vw;
        margin-left: -2.5vw;
        width: 2vw;
    }
}
