/*FONTES*/
@font-face {
    font-family: 'MadimiOne';
    src: url('../../../fontes/Madimi_One/MadimiOne-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/*TELA MAIOR QUE 1000px*/
@media screen and (min-width:1000px){
    body{
        margin: 0;
        overflow: hidden;
        width: 100vw;
        height: 100vh;
        z-index: -5;
    }
    nav{
        width:15%;
        height:calc(100% - 5%) ;
        background-color: #363636;
        animation: nav 1s forwards;
    }
    @keyframes nav {
        from {
            transform: translateX(-100%);
        }
        to {
            transform: translateX(0);
        }
    }
    .menu{
        width: 100%;
        height: 100%;
        margin:0;
        padding:0;
        color: #f2f2f2;
    }
    .menu li{
        list-style: none;
        padding: 5%;
    }
    .menu li:hover{
        background-color: #444;
    }
    .menu li span{
        font-size: 1.3vw;
    }
    .menu li ul{
        display:none;
    }
    .menu li:hover ul{
        display:block;
        position: absolute;
        top:0;
        left:100%;
        padding: 0;
        background: #444;
        width: 100%;
        height: 100%;
        z-index: 5;
    }

    .menu li ul li a{
        text-decoration: none;
        color: #f2f2f2;
        font-size:1.3vw;
    }
    .menu li ul li:hover{
        background: #555;
    }
    footer{
        height: 5%;
        background: #2C2C2C;
    }
    .icone{
        filter: brightness(0) invert(1) sepia(1) saturate(10000%) hue-rotate(180deg);
        animation: icone 1s forwards;
    }
    @keyframes icone {
        from {
            transform: translateX(100vw);
        }
        to {
            transform: translateX(0);
        }
    }
    iframe{
        position: absolute;
        height: 95%;
        margin-left:15%;
        width: 85%;
        top:0;
        z-index: unset;
    }
}
